#img {
    width: 40%;
}

#vet, #banho {
    display: flex;
    margin: 25px 0px 25px 0px;
    padding: 0px 25px 0px 25px;
}

#containertexto {
    background-color:  PowderBlue;
    padding: 25px;
    font-size: large;
    font-family:cursive;
    color: black;
}

