#container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 25px 0px 25px 0px;
}

#contato {
    width: 30%;
    background-color: PowderBlue;
    padding: 35px 0px 35px 15px;
    font-family:cursive;
}

#contatos {
    font-family: fantasy;
    color: #ff8300;
}

#facebook, #instagram {
    text-decoration: none;
    color: black;
}

#formulario {
    width: 60%;
    background-color: PowderBlue;
    padding: 35px 0px 35px 15px;
}

#nome, #nomepet, #telefone, #nome, #email, #botão{
    padding: 10px;
    font-family:cursive;
    width: 90%;
}

#botão {

    background-color: #ff8300;;
    color: white;
    font-size: 15px;
    font-family:cursive;
}

#field {
    padding: 10px;
}

#options {
    margin-top: 5px;
}
