img{

    width: 40%;
    ;
}

#menu {

    display: flex;
    padding: 0px 25px 0px 25px;
    
}

#container {
    display: flex;
    padding: 0px 25px 0px 25px;
    margin-top: 25px;
}

p {
    background-color:  #F5FFFA;
    margin: 0px 15px 0px 15px;
    padding: 25px;
    font-size: large;
    font-family:cursive;
    color: #4B0082;
}